

.bar{
 background-color:rgba(91, 91, 240, 0.1);
height:40px;
width:100%;
position:fixed;
z-index:2;
}

.left-bar{
  height: 100%;
  float: left;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.right-bar{
  float: right;
  margin: 0 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-btn,.skill-btn{
  font-family: ;

background: none;
background-color: none;
border: none;
cursor: pointer;
font-size: 1.2em;
margin-top: 10px;
margin-right: 10px;
}